recursive-include guiqwt *.png *.svg *.pot *.po *.mo *.dcm *.ui
recursive-include py2exe_example *.py *.pyw *.png *.svg *.ico *.bat
recursive-include qtdesigner *.py
recursive-include sift *.py *.pyw *.png *.svg *.ico *.bat
prune sift/build
prune sift/sift[0-9]
recursive-include src *.hpp *.cpp *.pyx
recursive-include doc *.py *.rst *.png *.ico
include MANIFEST.in
include Licence_CeCILL_V2-en.txt
include README.md
include CHANGELOG.md
