recursive-include guiqwt *.png *.svg *.pot *.po *.mo *.dcm
recursive-include src *.hpp *.cpp
recursive-include doc *.py *.rst *.png *.ico
include guiqwt-tests
include guiqwt-tests.py
include MANIFEST.in
include Licence_CeCILL_V2-en.txt
include README